<div class="exam-completed-wrapper">
  <div class="wrap mx-auto">
    <img
      class="feedback-image"
      src="../../../../assets/image/Group 1726@2x.png"
    />
    <div class="layout-block">{{ 'Not Qualified' | translate }}</div>
  </div>
  <div class="congration-message mb-3">
    {{
      'You have exceeded the timeline of 20 days' | translate
    }}
  </div>
  <div class="congration-message mb-3">
    {{
      'We are sorry that you can no longer become a compliance partner.' | translate
    }}
  </div>
</div>
