<app-header [showSecondaryHeader]="true"></app-header>
<ion-content>
  <div class="login-container max-width-desk justify-content-center d-flex">
    <div class="margin-desk">
      <div class="wrap mx-auto">
        <img class="feedback-image" src="../../../../assets/image/Group 1726@2x.png" />
      </div>
      <div class="w-75">
        <div class="layout-block" dir="rtl">
          انت غير مسجل
        </div>
        <div class="layout-block" dir="ltr">
          Not Registered.
        </div>
        <div class="congration-message mb-1" dir="rtl">
          عليك أولاً التسجيل كمراقب متعاون عن طريق تطبيق بلدي
        </div>
        <div class="congration-message mb-1" dir="ltr">
          You first need to register as compliance partner through Balady App
        </div>
        <div class="congration-message mb-1" dir="rtl">
          آپ کو پہلے تعمیل پارٹنر کے طور پر رجسٹر کرنے کی ضرورت ہے۔ بالاڈی ایپ
        </div>
      </div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>