.login-txt {
  text-align: center;
  margin: 5px;
  font-size: 20px;
  letter-spacing: 0px;
  color: #35393f;
  margin-top: 20px;
}

.login-container {
  background-color: #fff;
}

.wrap-top-image {
  padding: 20px 50px;
}
