<app-header [showSecondaryHeader]="true"></app-header>
<ion-content>
  <div class="login-container max-width-desk">
    <div class="margin-desk">
      <div class="ion-card">
        <div>
          <ion-avatar class="ion-margin-start">
            
          </ion-avatar>
        </div>
        <div>
          <span class="text-head frutiger-bold d-block">{{profileDTO.fullName}}</span>
          <span class="text-second-head frutiger-light d-block">
           
          </span>
        </div>
        <!-- <div class="card-content">
          <ion-icon style="cursor: pointer;" (click)="navigateTo()" name="ellipsis-vertical-outline"></ion-icon>
        </div> -->
      </div>
      <div *ngIf="getKeyName(videoInfo['vedio_url'])" class="margin-desk" style="margin: 0;">
        <iframe
          class="video-block"
          style="border: 0;"
          [src]="videoInfo[getKeyName('vedio_url')] | safe"
        ></iframe>
      </div>
      <div class="ion-item">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <button type="button" class="card box" routerLink="/my-courses">
                <div class="image-board">
                  <img
                    src="../../../assets/image/Group 1597@2x.png"
                    alt="View-Profile"
                  />
                </div>
                <div class="image-board">
                  <div class="card-title-box frutiger-light">
                    {{'Courses'| translate}}
                  </div>
                </div>
              </button>
            </ion-col>
            <ion-col size="6">
              <button type="button" class="card box" routerLink="/exam">
                <div class="image-board">
                  <img src="../../../assets/icon/p3.png" alt="View-Profile" />
                </div>
                <div class="image-board">
                  <div class="card-title-box frutiger-light">
                    {{'Exams' | translate}}
                  </div>
                </div>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ion-grid routerLink="/profile">
        <ion-row class="courser-pointer">
          <ion-col size="2">
            <ion-avatar class="ion-margin-start ion-logo">
              <img src="../../../assets/icon/profile.png" />
            </ion-avatar>
          </ion-col>
          <ion-col size="9" class="display-flex-center">
            <div class="nav-row-text">{{ 'My account' | translate}}</div>
          </ion-col>
          <ion-col size="1" class="display-flex-center">
            <ion-icon
              name="chevron-forward-outline"
              class="icon-chevron"
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid routerLink="/home">
        <ion-row class="courser-pointer">
          <ion-col size="2">
            <ion-avatar class="ion-margin-start ion-logo">
              <img src="../../../assets/icon/setting.png" />
            </ion-avatar>
          </ion-col>
          <ion-col size="9" class="display-flex-center">
            <div class="nav-row-text">{{'Change language' | translate}}</div>
          </ion-col>
          <ion-col size="1" class="display-flex-center">
            <ion-icon
              name="chevron-forward-outline"
              class="icon-chevron"
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid routerLink="/home">
        <ion-row class="courser-pointer">
          <ion-col size="2">
            <ion-avatar class="ion-margin-start ion-logo">
              <img src="../../../assets/icon/log-out.png" />
            </ion-avatar>
          </ion-col>
          <ion-col size="9" class="display-flex-center">
            <div class="nav-row-text">{{'Logout' | translate}}</div>
          </ion-col>
          <ion-col size="1" class="display-flex-center">
            <ion-icon
              name="chevron-forward-outline"
              class="icon-chevron"
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>
