<div class="give-feedback-wrapper wrapper-feedback">
  <div class="wrap mx-auto">
    <img
      class="feedback-image"
      src="../../../../assets/image/feedback_image.png"
    />
  </div>
  <div class="container-wrapper">
    <ion-card>
      <ion-card-content>
        <div class="layout-block mb-3">
          {{ "Give us your feedback" | translate }}
        </div>
        <div class="text-align-center">
          <ngb-rating [(rate)]="rate" [max]="5"></ngb-rating>
        </div>
        <ion-col size="12" class="input-field text-subtitle frutiger-light">
          <ion-label position="fixed">{{
            "What do you think of the exam?" | translate
          }}</ion-label>
          <ion-textarea
            placeholder="Type here"
            [(ngModel)]="description"
          ></ion-textarea>
        </ion-col>
        <div class="start-button">
          <ion-button shape="round" (click)="showAlert()">
            {{ "Submit rate" | translate }}
          </ion-button>
        </div>
      </ion-card-content>
      <ion-card-content *ngIf="examStarted && questionData"></ion-card-content>
    </ion-card>
  </div>
</div>
