.header-secondary {
  padding-top: 10px;
  background-color: aliceblue;
}
.ion-color {
  background: #1c4b44;
  padding: 15px;
}
.ion-head-tag {
  background: #7ca651;
  height: 190px;
}
.title-text {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 20px;
}
.search-input {
  display: flex;
  justify-content: center;
}
.search-bar {
  width: 500px;
}
.example-container {
  margin-left: 20px;
  margin-right: 20px;
}

.example-header {
  padding: 8px 24px 0;
}

.mat-table {
  margin-top: -30px;
}