<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="dashboard">
        <ion-tab-button (click)="navigateTo('dashboard')">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>{{ 'Dashboard' | translate }}</ion-label>
        </ion-tab-button>

        <ion-tab-button
          [ngClass]="{ 'text-green': canActive('course') }"
          (click)="navigateTo('my-courses')"
        >
          <ion-icon name="card-outline"></ion-icon>
          <ion-label>{{ 'My Courses' | translate }}</ion-label>
        </ion-tab-button>

        <ion-tab-button
          [ngClass]="{ 'text-green': canActive('exam') }"
          (click)="navigateTo('exam')"
        >
          <ion-icon name="bookmark-outline"></ion-icon>
          <ion-label>{{ 'Exams' | translate }}</ion-label>
        </ion-tab-button>

        <!-- <ion-tab-button>
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          <ion-label>More</ion-label>
        </ion-tab-button> -->
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
